* {
    box-sizing:border-box;
}
body {
    font-family: fot-rodin-pron, Cambria, Cochin, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin:0px;
}
div.heading {
    text-align:center;
    background-color: rgb(0, 0, 65);
    color:white;
    padding-bottom:15px;
    padding-top:5px;
    font-family:t26-carbon, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:20px;
}
div.heading-links {
    display:flex;
    justify-content:space-between;
}
div.heading a.heading-link {
    text-decoration:none;
    color:white;
    margin:0px 2vw;
    padding:0.5vw 3vw;
    border-radius:.6vw;
    transition:
        background-color 0.3s, 
        color 0.3s
    ;
}
div.heading a.heading-link:hover {
    background-color:white;
    color:rgb(0, 0, 65);
}

.grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1vw;
    margin:1vw;
    grid-template-areas:
        "one two three"
        "four five six"
        "seven eight nine"
        "ten eleven twelve"
        "thirteen fourteen fifteen"
        "sixteen seventeen eighteen"
    ;
    text-align:center;
}
.grid .img-cap img {
    width:100%;
    height:20vw;
    object-fit:cover;
}
.img-cap video {
    width:100%;
    height:20vw;
    object-fit:cover;
}
.img-cap .caption {
    font-family: t26-carbon, fot-rodin-pron, Cambria, Cochin, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0px;
    text-align:center;
    font-size:24px;
    background-color: rgb(0, 0, 65);
    color:white;
    padding:6px;
}
.img-cap iframe {
    width:100%;
    height:20vw;
    object-fit:cover;
}

.grid #cdi {
    grid-area:one;
}
.grid #eval-before {
    grid-area:seventeen;
}
.grid #eval-after {
    grid-area:eighteen;
}
.grid #scuba-before {
    grid-area:four;
}
.grid #scuba-after {
    grid-area:five;
}
.grid #dont-crash {
    grid-area:six;
}
.grid #flip {
    grid-area:eleven;
}
.grid #fortune {
    grid-area:three;
}
.grid #dont-crash-2 {
    grid-area:sixteen;
}
.grid #cat-bounce {
    grid-area:seven;
}
.grid #sad {
    grid-area:twelve;
}
.grid #spookee {
    grid-area:ten;
}
.grid #maro {
    grid-area:fourteen;
}
.grid #motel {
    grid-area:thirteen;
}
.grid #ocean {
    grid-area:fifteen;
}
.grid #meeting {
    grid-area:eight;
}
.grid #catch {
    grid-area:nine;
}
.grid #spaceeffect {
    grid-area:two;
}
.grid #motel img {
    width:24vw;
}
.grid #maro img {
    width:28vw;
}

@media screen and (max-width:800px) {
    div.heading-links {
        flex-direction:column;
    }

    .grid {
        display:grid;
        grid-template-columns:1fr;
        gap:1vw;
        margin:1vw;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine"
            "ten"
            "eleven"
            "twelve"
            "thirteen"
            "fourteen"
            "fifteen"
            "sixteen"
            "seventeen"
            "eighteen"
        ;
        text-align:center;
    }

    .grid .img-cap img {
        width:100%;
        height:60vw;
        object-fit:cover;
    }
    .img-cap video {
        width:100%;
        height:60vw;
        object-fit:cover;
    }
    .img-cap iframe {
        width:100%;
        height:60vw;
        object-fit:cover;
    }
    .grid #motel img {
        width:74vw;
    }
    .grid #maro img {
        width:80vw;
    }
}