* {
    box-sizing:border-box;
}
body {
    font-family: fot-rodin-pron, Cambria, Cochin, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin:0px;
}
div.heading {
    text-align:center;
    background-color: rgb(0, 0, 65);
    color:white;
    padding-bottom:15px;
    padding-top:5px;
    font-family:t26-carbon, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:20px;
}
div.heading-links {
    display:flex;
    justify-content:space-between;
}
div.heading a.heading-link {
    text-decoration:none;
    color:white;
    margin:0px 2vw;
    padding:0.5vw 3vw;
    border-radius:.6vw;
    transition:
        background-color 0.3s, 
        color 0.3s
    ;
}
div.heading a.heading-link:hover {
    background-color:white;
    color:rgb(0, 0, 65);
}

#hero {
    background-image:url(../images/tyrannosaurus\ wrecks\ 2.jpg);
    height:100vh;
    margin:0px;
    background-size:cover;
    background-position:top center;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}
#hero div {
    background-color:rgb(0, 0, 65);
    border-radius:2vw 2vw 0vw 0vw;
    padding:1vw 2vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#hero h2 {
    margin:-10px 0px -25px;
    color:white;
    padding:0vw 3vw 1vw;
    font-size:4vw;
    text-align:center;
}
#hero h3 {
    margin:-10px;
    color:white;
    padding:0vw 2vw 2vw;
    font-size:2vw;
    text-align:center;
}

#cta {
    color:rgb(0, 0, 65);
    margin:.5vw 0vw 1vw;
    font-size:16px;
    background-color:white;
    border-radius:.6vw;
    padding:.5vw 1vw;
    text-decoration:none;
    text-align:center;
    transition:
        background-color .3s,
        color .3s;
}
#cta:hover {
    background-color:rgb(0, 0, 65);
    color:white;
}

.three-column {
    display:grid;
    grid-template-columns:1fr 5fr 5fr 5fr 1fr;
    grid-template-areas:
        ". left center right ."
    ;
    padding:2vw;
}
.three-column .left {
    grid-area:left;
}
.three-column .center {
    grid-area:center;
}
.three-column .right {
    grid-area:right;
}

.three-column a {
    text-decoration:none;
}
.three-column a:hover {
    text-decoration:underline 2px solid white;
}
.img-cap {
    text-align:center;
    background-color: rgb(0, 0, 65);
    padding:2vw;
    margin:0px 1vw;
    box-shadow:3px 3px 6px black;
    transition:
        transform 0.4s,
        box-shadow 0.4s
    ;
}
.img-cap:hover {
    transform:translateY(-0.4vw);
    box-shadow:3px 6px 10px black;
}
.img-cap .caption {
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:1vw;
    font-size:2vw;
    text-align:center;
    margin:0px;
}
.img-cap img {
    width:20vw;
    height:20vw;
    object-fit:cover;
    margin:0px;
}

@media screen and (max-width:1000px) {
    #hero h2 {
        padding:0vw 3vw 1vw;
        font-size:8vw;
    }
    #hero h3 {
        padding:0vw 2vw 2vw;
        font-size:4vw;
    }
}

@media screen and (max-width:800px) {
    div.heading-links {
        flex-direction:column;
    }
    
    #hero h2 {
        margin:-10px 0px -10px;
    }
    #hero h3 {
        margin:-10px;
    }

    .three-column {
        display:grid;
        grid-template-columns:1fr 2fr 1fr;
        grid-template-areas:
            ". left ."
            ". center ."
            ". right ."
        ;
        padding:2vw;
    }
    .three-column .left {
        grid-area:left;
        margin:1vw;
    }
    .three-column .center {
        grid-area:center;
        margin:1vw;
    }
    .three-column .right {
        grid-area:right;
        margin:1vw;
    }
}